.checkbox-personalizado .form-check-input {
  /* Color de fondo cuando está seleccionado */
  background-color: #e8e8e8;
  /* Color del borde */
  border-color: #acacac;
}

.checkbox-personalizado .form-check-input:checked {
  background-color: #0066ff;
  border-color: #0066ff;
}

.boton-envio{
  letter-spacing: 0.25rem;
}

/* .checkbox-personalizado .form-check-input { */
  /* Cambia el color del checkbox en navegadores modernos */
 /* accent-color: #ff5733;
} */