<nav class="navbar bg-dark navbar-expand-lg fixed-top px-3" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="d-flex w-100 align-items-center">

            <a class="navbar-brand text-light me-auto" href="http://localhost:8000/">
                <img id="navLogo" class="img-fluid" src="./img/santiago-logo.svg" style="height: 50px" alt="Logo">
            </a>


            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>


        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav gap-4 py-2">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/cronograma/">Próximos Eventos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="infoDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Información
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="infoDropdown" style="font-family: 'Segoe UI', sans-serif; font-size: 16px;">
                        <li><a class="dropdown-item" style="color: #adb5bd;" href="http://localhost:8000/informacion/">Centros de Información</a></li>
                        <li><a class="dropdown-item" style="color: #adb5bd;" href="http://localhost:8000/transporte/">Transporte</a></li>
                        <li><a class="dropdown-item" style="color: #adb5bd;" href="http://localhost:8000/hospedaje/">Hospedaje</a></li>
                        <li><a class="dropdown-item" style="color: #adb5bd;" href="http://localhost:8000/centros_reuniones/">Centros de Reuniones</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="index.php">Circuito Turistico</a>
                </li>
            </ul>
        </div>
    </div>
</nav>